body{
    background-color:lightskyblue;
    margin:0;
}
section{
    margin: 0 auto;
    background-color:yellow;
    border-radius:50%;
    width:50vw;
    height: 100vh;
}
@media (max-width : 320px) 
{
    section{padding: 50%;}
}

@media (min-width : 321px) and (max-width : 800px)
{
    section{padding: 25%;}
}

@media (min-width: 801px)
{
    section{padding: 12.5%;}
}
